$color-white: #FFFFFF;
$color-blue: #307BC0;
$color-orange: #FF7800;
$color-red: #C01E1A;
$color-green: #79C798;
$color-text_gray_dark: #333333;
$color-text_gray_light: #7C7C7C;
$color-fill_gray_dark: #E6E6E6;
$color-fill_gray_light: #F9F9F9;
$color-border_gray: #DEDEDE;
