<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd" >
	<acl>
		<resources>
			<resource id="Magento_Backend::admin" >
				<resource
					id="JetRails_Plugins::jetrails"
					title="JetRails" >
					<resource
						id="JetRails_Cloudflare::cloudflare"
						title="Cloudflare" >
						<resource
							id="JetRails_Cloudflare::overview"
							title="Overview" >
							<resource
								id="JetRails_Cloudflare::configuration"
								title="Configuration" />
							<resource
								id="JetRails_Cloudflare::status"
								title="Status" />
						</resource>
						<resource
							id="JetRails_Cloudflare::caching"
							title="Caching" >
							<resource
								id="JetRails_Cloudflare::configuration_tab"
								title="Configuration" >
								<resource
									id="JetRails_Cloudflare::purge_cache"
									title="Purge Cache" />
								<resource
									id="JetRails_Cloudflare::caching_level"
									title="Caching Level" />
								<resource
									id="JetRails_Cloudflare::browser_cache_expiration"
									title="Browser Cache Expiration" />
								<resource
									id="JetRails_Cloudflare::crawler_hints"
									title="Crawler Hints" />
								<resource
									id="JetRails_Cloudflare::always_online"
									title="Always Online" />
								<resource
									id="JetRails_Cloudflare::development_mode"
									title="Development Mode" />
								<resource
									id="JetRails_Cloudflare::enable_query_string_sort"
									title="Enable Query String Sort" />
							</resource>
							<resource
								id="JetRails_Cloudflare::tiered_cache"
								title="Tiered Cache" >
								<resource
									id="JetRails_Cloudflare::argo_tiered_cache"
									title="Argo Tiered Cache" />
								<resource
									id="JetRails_Cloudflare::tiered_cache_topology"
									title="Tiered Cache Topology" />
							</resource>
						</resource>
						<resource
							id="JetRails_Cloudflare::dns"
							title="DNS" >
							<resource
								id="JetRails_Cloudflare::dns_records"
								title="DNS Records" />
							<resource
								id="JetRails_Cloudflare::cloudflare_nameservers"
								title="Cloudflare Nameservers" />
							<resource
								id="JetRails_Cloudflare::custom_nameservers"
								title="Custom Nameservers" />
							<resource
								id="JetRails_Cloudflare::cname_flattening"
								title="CNAME Flattening" />
						</resource>
						<resource
							id="JetRails_Cloudflare::ssl_tls"
							title="SSL/TLS" >
							<resource
								id="JetRails_Cloudflare::overview_tab"
								title="Overview" >
								<resource
									id="JetRails_Cloudflare::ssl"
									title="SSL" />
								<resource
									id="JetRails_Cloudflare::ssl_tls_recommender"
									title="SSL/TLS Recommender" />
							</resource>
							<resource
								id="JetRails_Cloudflare::edge_certificates_tab"
								title="Edge Certificates" >
								<resource
									id="JetRails_Cloudflare::always_use_https"
									title="Always Use HTTPS" />
								<resource
									id="JetRails_Cloudflare::http_strict_transport_security"
									title="HTTP Strict Transport Security (HSTS)" />
								<resource
									id="JetRails_Cloudflare::minimum_tls_version"
									title="Minimum TLS Version" />
								<resource
									id="JetRails_Cloudflare::opportunistic_encryption"
									title="Opportunistic Encryption" />
								<resource
									id="JetRails_Cloudflare::tls_13"
									title="TLS 1.3" />
								<resource
									id="JetRails_Cloudflare::automatic_https_rewrites"
									title="Automatic HTTPS Rewrites" />
								<resource
									id="JetRails_Cloudflare::certificate_transparency_monitoring"
									title="Certificate Transparency Monitoring" />
								<resource
									id="JetRails_Cloudflare::disable_universal_ssl"
									title="Disable Universal SSL" />
							</resource>
							<resource
								id="JetRails_Cloudflare::origin_server_tab"
								title="Origin Server" >
								<resource
									id="JetRails_Cloudflare::authenticated_origin_pulls"
									title="Authenticated Origin Pulls" />
							</resource>
						</resource>
						<resource
							id="JetRails_Cloudflare::firewall"
							title="Firewall" >
							<resource
								id="JetRails_Cloudflare::waf_tab"
								title="WAF" >
								<resource
									id="JetRails_Cloudflare::web_application_firewall"
									title="Web Application Firewall" />
								<resource
									id="JetRails_Cloudflare::firewall_rules"
									title="Firewall Rules" />
							</resource>
							<resource
								id="JetRails_Cloudflare::tools_tab"
								title="Tools" >
								<resource
									id="JetRails_Cloudflare::access_rules"
									title="Access Rules" />
								<resource
									id="JetRails_Cloudflare::user_agent_blocking"
									title="User Agent Blocking" />
								<resource
									id="JetRails_Cloudflare::unmetered_ddos_mitigation"
									title="Unmetered DDoS Mitigation" />
								<resource
									id="JetRails_Cloudflare::zone_lockdown"
									title="Zone Lockdown" />
							</resource>
							<resource
								id="JetRails_Cloudflare::settings_tab"
								title="Settings" >
								<resource
									id="JetRails_Cloudflare::security_level"
									title="Security Level" />
								<resource
									id="JetRails_Cloudflare::bot_fight_mode"
									title="Bot Fight Mode" />
								<resource
									id="JetRails_Cloudflare::bot_management"
									title="Bot Management" />
								<resource
									id="JetRails_Cloudflare::javascript_detections"
									title="JavaScript Detections" />
								<resource
									id="JetRails_Cloudflare::challenge_passage"
									title="Challenge Passage" />
								<resource
									id="JetRails_Cloudflare::browser_integrity_check"
									title="Browser Integrity Check" />
								<resource
									id="JetRails_Cloudflare::privacy_pass_support"
									title="Privacy Pass Support" />
							</resource>
						</resource>
						<resource
							id="JetRails_Cloudflare::speed"
							title="Speed" >
							<resource
								id="JetRails_Cloudflare::optimization_tab"
								title="Optimization" >
								<resource
									id="JetRails_Cloudflare::image_resizing"
									title="Image Resizing" />
								<resource
									id="JetRails_Cloudflare::automatic_platform_optimization"
									title="Automatic Platform Optimization for WordPress" />
								<resource
									id="JetRails_Cloudflare::early_hints"
									title="Early Hints" />
								<resource
									id="JetRails_Cloudflare::enhanced_http2_prioritization"
									title="Enhanced HTTP/2 Prioritization" />
								<resource
									id="JetRails_Cloudflare::tcp_turbo"
									title="TCP Turbo" />
								<resource
									id="JetRails_Cloudflare::auto_minify"
									title="Auto Minify" />
								<resource
									id="JetRails_Cloudflare::polish"
									title="Polish" />
								<resource
									id="JetRails_Cloudflare::brotli"
									title="Brotli" />
								<resource
									id="JetRails_Cloudflare::mirage"
									title="Mirage" />
								<resource
									id="JetRails_Cloudflare::rocket_loader"
									title="Rocker Loader" />
								<resource
									id="JetRails_Cloudflare::prefetch_urls"
									title="Prefetch URLs" />
								<resource
									id="JetRails_Cloudflare::amp_real_url"
									title="AMP Real URL" />
								<resource
									id="JetRails_Cloudflare::mobile_redirect"
									title="Mobile Redirect" />
							</resource>
						</resource>
						<resource
							id="JetRails_Cloudflare::page_rule"
							title="Page Rules" >
							<resource
								id="JetRails_Cloudflare::page_rules"
								title="Page Rules" />
						</resource>
						<resource
							id="JetRails_Cloudflare::scrape_shield"
							title="Scrape Shield" >
							<resource
								id="JetRails_Cloudflare::email_address_obfuscation"
								title="Email Address Obfuscation" />
							<resource
								id="JetRails_Cloudflare::server_side_excludes"
								title="Server-side Excludes" />
							<resource
								id="JetRails_Cloudflare::hotlink_protection"
								title="Hotlink Protection" />
						</resource>
						<resource
							id="JetRails_Cloudflare::network"
							title="Network" >
							<resource
								id="JetRails_Cloudflare::http_2"
								title="HTTP/2" />
							<resource
								id="JetRails_Cloudflare::http_2_to_origin"
								title="HTTP/2 to Origin" />
							<resource
								id="JetRails_Cloudflare::http_3"
								title="HTTP/3 (with QUIC)" />
							<resource
								id="JetRails_Cloudflare::ipv6_compatibility"
								title="IPv6 Compatibility" />
							<resource
								id="JetRails_Cloudflare::grpc"
								title="gRPC" />
							<resource
								id="JetRails_Cloudflare::websockets"
								title="WebSockets" />
							<resource
								id="JetRails_Cloudflare::onion_routing"
								title="Onion Routing" />
							<resource
								id="JetRails_Cloudflare::pseudo_ipv4"
								title="Pseudo IPv4" />
							<resource
								id="JetRails_Cloudflare::ip_geolocation"
								title="IP Geolocation" />
							<resource
								id="JetRails_Cloudflare::maximum_upload_size"
								title="Maximum Upload Size" />
							<resource
								id="JetRails_Cloudflare::response_buffering"
								title="Response Buffering" />
							<resource
								id="JetRails_Cloudflare::true_client_ip_header"
								title="True-Client-IP Header" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
