.switch {
	background-color: #FFF;
	border: 1px solid rgba( 0, 0, 0, 0.4 );
	color: #FFF;
	cursor: pointer;
	font-size: 0;
	height: 35px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	width: 80px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	line-height: 1.4;
	max-width: 80px;
	outline: none;
	z-index: 0;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.2s ease;
	border-radius: 5px;
	box-sizing: border-box;
	min-height: 1.22em;
	white-space: nowrap;
	text-align: right;
	margin-top: -5px;
	input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		z-index: 3;
		&:after {
			visibility: hidden;
		}
	}
	&.switch:after, &.switch:before {
		background-color: $color-green;
		color: #FFF;
		content: 'On';
		font-size: 14px;
		line-height: 1.5;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.45rem 0;
		text-align: center;
		width: 39px;
		padding-top: 6px;
		font-weight: 500;
		-webkit-text-stroke: initial;
	}
	&.switch:before {
		background-color: #71777A;
		content: 'Off';
		left: auto;
		right: 0;
		width: 50%;
	}
	.knob {
		background: #f7f7f7;
		border: 1px solid rgba( 0, 0, 0, 0.4 );
		border-bottom: none;
		border-top: none;
		display: block;
		font-size: 0.86667rem;
		height: 100%;
		left: -1px;
		top: 0;
		width: 40px;
		z-index: 2;
		transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		-webkit-transition: all 0.15s linear;
		position: relative;
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		box-sizing: border-box;
		color: #FFF;
		cursor: pointer;
		white-space: nowrap;
		text-align: right;
		&.knob:before, &.knob:after {
			border: 4px solid transparent;
			border-left-color: inherit;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: 2px;
			margin-top: -3px;
			width: 0;
		}
		&.knob:before {
			border-left-color: transparent;
			border-right-color: inherit;
			margin-left: -10px;
		}
	}
	input:checked + .knob {
		left: 50% !important;
	}
}
