<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd" >
	<default>
		<cloudflare>
			<configuration>
				<auth_zone></auth_zone>
				<auth_token></auth_token>
			</configuration>
		</cloudflare>
	</default>
</config>
