input[type="checkbox"] {
	margin-right: 12px;
	visibility: visible;
	cursor: pointer;
	&:after {
	    content: "";
	    position: absolute;
	    width: 15px;
	    height: 15px;
	    background: #FFF;
	    margin-top: -2px;
	    border: solid 1px #BCBEC0;
	    border-radius: 2px;
	    box-sizing: border-box;
		visibility: visible;
		transition: all 200ms;
	}
	&:focus, &hover {
		border-color: $color-blue;
	}
	&:checked:after {
		content: "\F009";
	    font-family: "cloudflare-font";
	    font-size: 14px;
	}
}
