section.cloudflare, .cloudflare_modal {
	input[type="text"],
	input[type="password"] {
		font-family: "Open Sans", sans-serif;
		box-sizing: border-box;
		width: 100%;
		padding: 7px 15px;
		color: $color-text_gray_dark;
		background: #FFF;
		border-radius: 5px;
		border: solid 1px #BCBCBC;
		font-size: 0.9em;
		font-weight: 100;
		margin: 5px 0;
		transition: all 200ms;
		&:hover {
			border: solid 1px #A3A3A3;
		}
		&:focus {
			border: solid 1px $color-blue;
		}
	}
}
